<div class='events-header' style='background-image: url(<%= header_background_image_url %>)'>
  <div class="container">
    <h2> Khám phá các sự kiện nổi bật </h2>
    <%= form_tag event_search_path, method: "get", class: "" do %>
      <%= text_field_tag "name", params[:name], placeholder: "Tìm kiếm các sự kiện, khóa học...", class: "form-control" %>
      <%= submit_tag "", style: "display: none;" %>
    <% end %>
  </div>
</div>
<div class="container-fluid events-list">
    <% @events.in_groups_of(2) do |g| %>
      <div class="row">
        <% g.compact.each do |e| %>
            <%= render partial: 'card', locals: {event: e} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
