<div class="cover-event">
  <img class="card-img-top" src="<%= event.event_image_url %>">
</div>
<% if event.draft? %>
  <div class="">
    <span class="label label-warning label-pill status">Nháp</span>
  </div>
<% end %>
<div class="panel-event-info">
  <%= form_for event do |f| %>
    <fieldset class="form-group">
      <%= f.label :name, "Tên sự kiện" %>
      <%= f.text_field :name, class: "form-control", placeholder: "" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :hero_image_url, "Hình đại diện sự kiện" %>
      <%= f.text_field :hero_image_url, class: "form-control", placeholder: "" %>
    </fieldset>
    <%= f.fields_for :venue do |v| %>
      <fieldset class="form-group">
        <%= v.label :name, "Tên địa điểm" %>
        <%= v.text_field :name, class: "form-control", placeholder: "" %>
      </fieldset>
      <fieldset class="form-group">
        <%= v.label :full_address, "Địa điểm cụ thể" %>
        <%= v.text_field :full_address, class: "form-control", placeholder: "" %>
      </fieldset>

      <fieldset class="form-group">
        <%= v.label :region_id, "Vùng" %>
        <br>
        <%= v.select(:region_id, options_from_collection_for_select(@regions, :id, :name, event.venue.region.id), {}, { class: "form-control"}) %>
      </fieldset>
    <% end %>
    <fieldset class="form-group" style="width: 49%; float: left;">
      <%= f.label :starts_at, "Thời gian bắt đầu" %>
      <br>
      <%= f.datetime_select :starts_at, class:"form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :ends_at, "Thời gian kết thúc" %>
      <br>
      <%= f.datetime_select :ends_at, class:"form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :category_id, "Loại sự kiện" %>
      <br>
      <%= f.select(:category_id, options_from_collection_for_select(@categories, :id, :name, event.category.id), {}, { class: "form-control"}) %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :extended_html_description, "Mô tả thông tin sự kiện" %>
      <%= f.text_area :extended_html_description, class: "form-control", placeholder: "", rows: 10%>
    </fieldset>
    <% if event.draft? %>
      <div class="btn-grp">
        <%= link_to event_publish_path(id: event.id), class: "custom-btn" do %>
          Công khai sự kiện
        <% end %>
      </div>
    <% end %>
    <div class="btn-grp">
      <%= f.submit "Tiếp tục", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
