<div class="event">
  <div class="slide-bar">
    <div class="price-info">
      <div class="price-label">
        <i class="fa fa-money fa-lag" aria-hidden="true"></i> Giá vé
      </div>
      <div class="price-detail">
        <div>
          <ul style="list-style: none;width: 93%;">
            <% @event.ticket_types.each do |ticket_type| %>
              <li style="display: block;padding-bottom: 50px; float: left; width: 100%;">
                <div style="width: 58%; float: left;"><%= ticket_type.name %></div>
                <div style="text-align: right; float: right; width: 40%; font-size: 1.2rem;"><%= format_currency(ticket_type.price) %></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div style="text-align: center;">
        <%= link_to "Mua vé ngay", new_event_order_path(@event), class: "btn btn-danger btn-order" %>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="cover-event">
      <img class="card-img-top" src="<%= @event.hero_image_url %>">
    </div>
    <div class="panel-event-info">
      <h3> <%= @event.name %> </h3>
      <div class="event-info-details">
        <div class="pull-left">
          <%= fa_icon 'clock-o' %>
        </div>
        <div class="time-details">
          <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
        </div>
      </div>
      <div class="event-info-details">
        <div class="pull-left">
          <%= fa_icon 'map-marker' %>
        </div>
        <div class="venue-details">
         <%= @event.venue.name %>
         <br/>
         <%= @event.venue.full_address %>
        </div>
      </div>

      <div class="img-spacer">
        <%= image_tag 'shadow-top.png' %>
      </div>
      <div class="extended-description">
        <%= @event.extended_html_description.html_safe %>
      </div>
    </div>
  </div>
</div>
