<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
       <%= @event.venue.name %>
       <br/>
       <%= @event.venue.full_address %>
      </div>

      <div class="pull-left">
        <%= fa_icon 'clock-o' %>
      </div>
      <div class="time-details">
        <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
      </div>
    </div>
  </div>
  <%= form_for [@event, @order], class: "contact-info" do |f| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <table class="table">
          <th> Loại vé </th>
          <th> Đơn giá </th>
          <th> Số lượng </th>
          <th> Thành tiền </th>

          <%= f.fields_for :order_details do |od| %>
            <tr>
              <td><%= od.label :name, od.object.ticket_type.name %></td>
              <td><%= od.label :price, format_currency(od.object.price) %></td>
              <td><%= od.text_field :quantity %></td>
              <td><%= od.label :total_price, od.object.total_price %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-4 contact-info">
        <h3 style="margin-bottom: 20px;">Thông tin khách hàng</h3>
        <fieldset class="form-group">
          <%= f.label :name, "Tên khách hàng" %>
          <%= f.text_field :name, class: "form-control", placeholder: "" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :phone, "Điện thoại" %>
          <%= f.text_field :phone, class: "form-control", placeholder: "" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, class: "form-control", placeholder: "" %>
        </fieldset>
        <fieldset class="form-group">
          <%= f.label :address, "Địa chỉ" %>
          <%= f.text_field :address, class: "form-control", placeholder: "" %>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-5">
        <%= f.submit "Đặt hàng", class: "btn btn-success btn-lg btn-block" %>
      </div>
    <div>
  <% end %>
</div>

